<div class="header__navmobile flb-csb show-lg">
    <button class="header__navmobile-btn flb-cc icon-search" data-event="show-headersearch"></button>
    <button class="header__navmobile-btn flb-cc icon-location-100store" data-event="show-headermodal" data-nav="shops"></button>
    <button class="header__navmobile-btn flb-cc icon-dots-burger" data-event="show-headercatalog"></button>
    <button class="header__navmobile-btn flb-cc icon-profile-circle" data-event="show-headermodal" data-nav="auth"></button>
    <button class="header__navmobile-btn flb-cc icon-shopping-bag" data-event="show-headermodal" data-nav="cart"><span class="span-count">32</span></button>
</div>