<header class="header__top">
    <div class="container flb-csb">
        <a href="" class="header__logo">
            <img src="img/logo-favicon.svg" width="42" height="29" alt="100 Фабрик - Мебельный центр">
            <img src="img/logo-text.svg" width="100" height="13" alt="100 Фабрик - Мебельный центр">
            <span>Мебельный центр</span>
        </a>
        <button class="header__showcatalog btn btn-red">
            <i class="icon icon-dots-burger"></i>
            <span>Каталог</span>
        </button>
        <button class="header__showsearch flb-cc">
            <i class="icon icon-search"></i>
            <span>Поиск</span>
        </button>
        <ul class="header__menu flb-ss">
            <li>
                <a href="">Услуги</a>
                <i class="icon-angle-down"></i>
                <ul>
                    <li><a href="">Разработка дизайн-проекта</a></li>
                    <li><span>Производство на заказ</a></span>
                    <li><a href="">Вызов замерщика</a></li>
                    <li><a href="">Доставка и установка</a></li>
                    <li><a href="">Сборка мебели</a></li>
                </ul>
            </li>
            <li>
                <a href="">Для покупателей</a>
                <i class="icon-angle-down"></i>
                <ul>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Производство на заказ</a></apan>
                    <li><a href="">Отдел рекламаций</a></li>
                    <li><a href="">Как купить?</a></li>
                    <li><a href="">Акции и скидки</a></li>
                </ul>
            </li>
            <li>
                <a href="">О компании</a>
                <i class="icon-angle-down"></i>
                <ul>
                    <li><a href="">Контактная информация</a></li>
                    <li><a href="">Реквизиты продавца</a></li>
                </ul>
            </li>
        </ul>
        <div class="header__contacts">
            <div class="header__contacts-phone"><a href="tel:+74951500410">+7 495 150-04-10</a></div>
            <button class="header__contacts-btnbackcall show-popup" data-popup="popupbackcall"
                data-title="Заказать обратный звонок">
                <i class="icon-phone"></i>
                <span>Обратный звонок</span>
            </button>
        </div>
        <div class="header__navmodals flb-ss">
            <button class="header__navmodals-btn flb-cc" data-nav="shops">
                <i class="icon-location-100store"></i>
                <span>Магазины</span>
            </button>
            <button class="header__navmodals-btn flb-cc" data-nav="auth">
                <i class="icon-profile-circle"></i>
                <span>Войти</span>
            </button>
            <button class="header__navmodals-btn flb-cc" data-nav="cart">
                <i class="icon-shopping-bag"><span class="span-count">32</span></i>
                <span>Корзина</span>
            </button>
        </div>
        <a href="tel:+74951500410" class="header__contacts-mobphone icon-phone"></a>
        <button class="header__burger flb-cc">
            <span></span>
            <span></span>
            <i class="icon-close"></i>
        </button>
    </div>
</header>