<div class="header">
    <!--#include virtual="/components/header/header__top.html" -->
    <!--#include virtual="/components/header/header__nav.html" -->
    <!--#include virtual="/components/header/header__search.html" -->
    <!--#include virtual="/components/header/header__catalog.html" -->
</div>
<div class="header__modal">
    <div class="header__modal-navigation flb-csb">
        <div class="header__contacts">
            <div class="header__contacts-phone"><a href="tel:+74951500410">+7 495 150-04-10</a></div>
            <button class="header__contacts-btnbackcall show-popup" data-popup="popupbackcall"
                data-title="Заказать обратный звонок">
                <i class="icon-phone"></i>
                <span>Обратный звонок</span>
            </button>
        </div>
        <div class="header__navmodals flb-ss">
            <button class="header__navmodals-btn flb-cc" data-nav="shops">
                <i class="icon-location-100store"></i>
                <span>Магазины</span>
            </button>
            <button class="header__navmodals-btn flb-cc" data-nav="auth">
                <i class="icon-profile-circle"></i>
                <span>Войти</span>
            </button>
            <button class="header__navmodals-btn flb-cc" data-nav="cart">
                <i class="icon-shopping-bag"><span class="span-count">32</span></i>
                <span>Корзина</span>
            </button>
        </div>
        <button class="header__modal-close flb-cc icon-close"></button>
    </div>

    <!--#include virtual="/components/header/header__modal-storelist.html" -->
    <!--#include virtual="/components/header/header__modal-profileforms.html" -->
    <!--#include virtual="/components/header/header__modal-cart.html" -->

    <!--#include virtual="/components/header/header__modal-servicesmodal_dproduct.html" -->
    <!--#include virtual="/components/header/header__modal-exdelivery_dproduct.html" -->
    <!--#include virtual="/components/header/header__modal-pay_dproduct.html" -->

    <!--#include virtual="/components/header/header__modal-orderdesinger_dproduct.html" -->
    <!--#include virtual="/components/header/header__modal-addreview.html" -->

    <!--#include virtual="/components/header/header__modal-showcompect_dproduct.html" -->
    <!--#include virtual="/components/header/header__modal-colorsmodal_dproduct.html" -->
    <!--#include virtual="/components/header/header__modal-newkit_dproduct.html" -->

</div>
<div class="header__menumobile">
    <a href="" class="footer__navcatalog-btn btn btn-wt-op1 mb20">
        <span>Перейти в каталог</span>
        <i class="icon icon-enter-left"></i>
    </a>
</div>
<!--#include virtual="/components/header/header__navmobile.html" -->
<div class="header__overlay"></div>
<div class="header__overlay2"></div>
<div class="header__overlay3"></div>

<div class="header__search--mobilestatick">
    <form action="" class="header__search-form">
        <div class="container">
            <input type="text" value="" placeholder="Поиск">
            <button class="icon-search flb-cc"></button>
            <a class="header__search-form_close icon-close flb-cc"></a>
        </div>
    </form>
    <div class="header__search-result">
        <div class="container">
            <div class="catalog__tagsblock-listbtn flb-cs scrolly-hidden">
                <a href="" class="catalog__tagsbtn btn btn-grey">Кухни модульные</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Пластик</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Недорогие</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Классические</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Современные</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Массив</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">МДФ</a>
            </div>
            <div>
                <div class="cartproduct__complect ">
                    <div class="cartproduct__item flb-csb">
                        <a href="" class="cartproduct__item-img flb-cc">
                            <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                alt="Кухня Классика Софт Крем ">
                        </a>
                        <div class="cartproduct__item-caption">
                            <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
                            <div class="flb-cs mt5">
                                <div class="section__pxs mr10">Арт. 254680 </div>
                                <div class="product__item-sticker sticker--sale">Скидка 50%</div>
                            </div>
                        </div>
                        <div class="cartproduct__item-rblock flb-csb hidden">
                            <div class="cartproduct__item-price cartproduct__item-rblock_props">
                                <div class="section__pxs">За 1 шт.: <span class="tdlt">78 920 ₽</span> </div>
                                <div class="section__pmd fw-700">274 000 ₽</div>
                            </div>
                            <div class="cartproduct__item-counter counter flb-csb">
                                <button class="counter-minus counter-btn icon-minus"></button>
                                <input class="counter-value" value="3">
                                <button class="counter-plus counter-btn icon-plus"></button>
                            </div>
                            <div class="cartproduct__item-pricetotal cartproduct__item-rblock_props">
                                <div class="section__pxs">Итого:</div>
                                <div class="section__pmd fw-700">196 000 ₽</div>
                            </div>
                            <button class="cartproduct__item-remove flb-cc icon-trash"
                                data-events="show-addbtn"></button>
                        </div>
                        <button class="cartproduct__item-addbtn btn btn-red">
                            <span>Добавить в корзину</span>
                            <i class="icon-plus-circle"></i>
                        </button>
                        <div class="cartproduct__item-propslist flb-cs w100">
                            <div class="cartproduct__item-props">Цвет: <b>Синий</b></div>
                            <div class="cartproduct__item-props">Обивка: <b>Ткань</b></div>
                        </div>
                    </div>
                    <div class="cartproduct__complect-listproduct">
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">3 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">2 шт.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">5 шт.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">3 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">2 шт.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">5 шт.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="cartproduct__complect-showlistproduct">
                        <span><span class="_toggletitle">Показать модули</span> (4 шт.)</span>
                        <i class="icon-angle-down"></i>
                    </button>
                </div>
                <div class="cartproduct__item itemtype--hdrsearch flb-csb">
                    <a href="" class="cartproduct__item-img flb-cc">
                        <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                            alt="Кухня Классика Софт Крем ">
                    </a>
                    <div class="cartproduct__item-caption">
                        <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
                        <div class="flb-cs mt5">
                            <div class="section__pxs mr10">Арт. 254680 </div>
                            <div class="product__item-sticker sticker--new">Новинка</div>
                        </div>
                    </div>
                    <div class="cartproduct__item-rblock flb-csb hidden">
                        <div class="cartproduct__item-price cartproduct__item-rblock_props">
                            <div class="section__pxs">За 1 шт.: </div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <div class="cartproduct__item-counter counter flb-csb">
                            <button class="counter-minus counter-btn icon-minus"></button>
                            <input class="counter-value" value="3">
                            <button class="counter-plus counter-btn icon-plus"></button>
                        </div>
                        <div class="cartproduct__item-pricetotal cartproduct__item-rblock_props">
                            <div class="section__pxs">Итого:</div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <button class="cartproduct__item-remove flb-cc icon-trash" data-events="show-addbtn"></button>
                    </div>
                    <button class="cartproduct__item-addbtn btn btn-red">
                        <span>Добавить в корзину</span>
                        <i class="icon-plus-circle"></i>
                    </button>
                </div>
                <div class="cartproduct__item itemtype--hdrsearch flb-csb">
                    <a href="" class="cartproduct__item-img flb-cc">
                        <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                            alt="Кухня Классика Софт Крем ">
                    </a>
                    <div class="cartproduct__item-caption">
                        <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
                        <div class="flb-cs mt5">
                            <div class="section__pxs mr10">Арт. 254680 </div>
                            <div class="product__item-sticker sticker--new">Новинка</div>
                        </div>
                    </div>
                    <div class="cartproduct__item-rblock flb-csb hidden">
                        <div class="cartproduct__item-price cartproduct__item-rblock_props">
                            <div class="section__pxs">За 1 шт.: </div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <div class="cartproduct__item-counter counter flb-csb">
                            <button class="counter-minus counter-btn icon-minus"></button>
                            <input class="counter-value" value="3">
                            <button class="counter-plus counter-btn icon-plus"></button>
                        </div>
                        <div class="cartproduct__item-pricetotal cartproduct__item-rblock_props">
                            <div class="section__pxs">Итого:</div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <button class="cartproduct__item-remove flb-cc icon-trash" data-events="show-addbtn"></button>
                    </div>
                    <button class="cartproduct__item-addbtn btn btn-red">
                        <span>Добавить в корзину</span>
                        <i class="icon-plus-circle"></i>
                    </button>
                </div>
                <div class="cartproduct__item itemtype--hdrsearch flb-csb">
                    <a href="" class="cartproduct__item-img flb-cc">
                        <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                            alt="Кухня Классика Софт Крем ">
                    </a>
                    <div class="cartproduct__item-caption">
                        <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
                        <div class="flb-cs mt5">
                            <div class="section__pxs mr10">Арт. 254680 </div>
                            <div class="product__item-sticker sticker--new">Новинка</div>
                        </div>
                    </div>
                    <div class="cartproduct__item-rblock flb-csb hidden">
                        <div class="cartproduct__item-price cartproduct__item-rblock_props">
                            <div class="section__pxs">За 1 шт.: </div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <div class="cartproduct__item-counter counter flb-csb">
                            <button class="counter-minus counter-btn icon-minus"></button>
                            <input class="counter-value" value="3">
                            <button class="counter-plus counter-btn icon-plus"></button>
                        </div>
                        <div class="cartproduct__item-pricetotal cartproduct__item-rblock_props">
                            <div class="section__pxs">Итого:</div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <button class="cartproduct__item-remove flb-cc icon-trash" data-events="show-addbtn"></button>
                    </div>
                    <button class="cartproduct__item-addbtn btn btn-red">
                        <span>Добавить в корзину</span>
                        <i class="icon-plus-circle"></i>
                    </button>
                </div>
                <div class="cartproduct__complect ">
                    <div class="cartproduct__item flb-csb">
                        <a href="" class="cartproduct__item-img flb-cc">
                            <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                alt="Кухня Классика Софт Крем ">
                        </a>
                        <div class="cartproduct__item-caption">
                            <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
                            <div class="flb-cs mt5">
                                <div class="section__pxs mr10">Арт. 254680 </div>
                                <div class="product__item-sticker sticker--sale">Скидка 50%</div>
                            </div>
                        </div>
                        <div class="cartproduct__item-rblock flb-csb hidden">
                            <div class="cartproduct__item-price cartproduct__item-rblock_props">
                                <div class="section__pxs">За 1 шт.: <span class="tdlt">78 920 ₽</span> </div>
                                <div class="section__pmd fw-700">274 000 ₽</div>
                            </div>
                            <div class="cartproduct__item-counter counter flb-csb">
                                <button class="counter-minus counter-btn icon-minus"></button>
                                <input class="counter-value" value="3">
                                <button class="counter-plus counter-btn icon-plus"></button>
                            </div>
                            <div class="cartproduct__item-pricetotal cartproduct__item-rblock_props">
                                <div class="section__pxs">Итого:</div>
                                <div class="section__pmd fw-700">196 000 ₽</div>
                            </div>
                            <button class="cartproduct__item-remove flb-cc icon-trash"
                                data-events="show-addbtn"></button>
                        </div>
                        <button class="cartproduct__item-addbtn btn btn-red">
                            <span>Добавить в корзину</span>
                            <i class="icon-plus-circle"></i>
                        </button>
                        <div class="cartproduct__item-propslist flb-cs w100">
                            <div class="cartproduct__item-props">Цвет: <b>Синий</b></div>
                            <div class="cartproduct__item-props">Обивка: <b>Ткань</b></div>
                        </div>
                    </div>
                    <div class="cartproduct__complect-listproduct">
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">3 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">2 шт.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">5 шт.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">3 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">2 шт.</div>
                                </div>
                            </div>
                        </div>
                        <div class="cartproduct__item itemtype--order flb-csb">
                            <a href="" class="cartproduct__item-img flb-cc">
                                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                                    alt="Угловой диван Виктория 2-1 комфорт компакт">
                            </a>
                            <div class="cartproduct__item-caption">
                                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                                        компакт</a></div>
                                <div class="section__pxs mt5">Арт. 254680 </div>
                            </div>
                            <div class="cartproduct__item-rblock flb-csb">
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость за 1 шт.</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Стоимость</div>
                                    <div class="section__pmd fw-700">6 360 ₽</div>
                                </div>
                                <div class="cartproduct__item-rblock_props">
                                    <div class="section__pxs">Кол-во:</div>
                                    <div class="section__pmd fw-700">5 шт.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="cartproduct__complect-showlistproduct">
                        <span><span class="_toggletitle">Показать модули</span> (4 шт.)</span>
                        <i class="icon-angle-down"></i>
                    </button>
                </div>
                <div class="cartproduct__item itemtype--hdrsearch flb-csb">
                    <a href="" class="cartproduct__item-img flb-cc">
                        <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                            alt="Кухня Классика Софт Крем ">
                    </a>
                    <div class="cartproduct__item-caption">
                        <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
                        <div class="flb-cs mt5">
                            <div class="section__pxs mr10">Арт. 254680 </div>
                            <div class="product__item-sticker sticker--new">Новинка</div>
                        </div>
                    </div>
                    <div class="cartproduct__item-rblock flb-csb hidden">
                        <div class="cartproduct__item-price cartproduct__item-rblock_props">
                            <div class="section__pxs">За 1 шт.: </div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <div class="cartproduct__item-counter counter flb-csb">
                            <button class="counter-minus counter-btn icon-minus"></button>
                            <input class="counter-value" value="3">
                            <button class="counter-plus counter-btn icon-plus"></button>
                        </div>
                        <div class="cartproduct__item-pricetotal cartproduct__item-rblock_props">
                            <div class="section__pxs">Итого:</div>
                            <div class="section__pmd fw-700">64 000 ₽</div>
                        </div>
                        <button class="cartproduct__item-remove flb-cc icon-trash" data-events="show-addbtn"></button>
                    </div>
                    <button class="cartproduct__item-addbtn btn btn-red">
                        <span>Добавить в корзину</span>
                        <i class="icon-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>