<div class="header__modal-aboutserv header__modal-tabsbody hidden" data-nav="servicesmodal-dproduct">
    <div class="section__h5 flb-cs mb20">Услуги</div>
    <div class="section__psm op1 mb30">Вы можете вызвать замерщика, заказать сборку мебели, разработку проекта на заказ и пр.</div>
    <div class="services__pricelist-table table--nowrap fz14">
        <div class="services__pricelist-tabletr flb-csb">
            <div>Вызов замерщика</div>
            <div>1 000 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div><a href="" class="fw-700">Доставка</a></div>
            <div>500 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div><a href="" class="fw-700">Сборка мебели</a></div>
            <div>2 500 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div>Вызов замерщика</div>
            <div>1 000 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div><a href="" class="fw-700">Доставка</a></div>
            <div>500 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div>Сборка мебели</div>
            <div>2 500 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div>Вызов замерщика</div>
            <div>1 000 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div>Доставка</div>
            <div>500 ₽</div>
        </div>
        <div class="services__pricelist-tabletr flb-csb">
            <div>Сборка мебели</div>
            <div>2 500 ₽</div>
        </div>
    </div>
</div>