<div class="header__modal-profileforms header__modal-tabsbody flb-cc hidden" data-nav="auth">
    <div>
        <div class="tab-btn__wrapper mb320" data-tabs="header-authtabs">
            <div class="tab-btn tab-active">Вход</div>
            <div class="tab-btn">Регистрация</div>
        </div>
        <div class="tabs-content__wrap" data-tabs="header-authtabs">
            <form action="" method="POST" class="form tab-content">
                <div class="input-wrap mb15">
                    <input type="text" name="phone" value="" class="input required phone-mask"
                        required="required" placeholder="+7(___)___-__-__*">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                <div class="input-wrap mb15">
                    <input type="password" name="password" value="" class="input required" required="required"
                        placeholder="Пароль">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                <label class="checkbox checkbox-confid checkbox--required mb20">
                    <input class="checkbox-input" type="checkbox" name="">
                    <span class="checkbox-inputcustom icon-check flb-cc"></span>
                    <span class="checkbox-text fz12">Нажимая кнопку «Войти в личный кабинет» я соглашаюсь с условиями
                        <a href="">Пользовательского
                            соглашения</a> и даю свое согласие на <a href="">обработку моих персональных
                            данных</a> в соответствии с законом
                        №152-ФЗ «О персональных данных» от 27.07.2006</span>
                </label>
                <button class="btn btn-red btn-submit w100 mb10">Войти в личный кабинет <i class="icon icon-enter-left"></i></button>
                <a class="header__modal-btn_forgotpassword btn btn-grey2 w100">Я забыл пароль</a>
            </form>
            <form action="" method="POST" class="form tab-content hidden">
                <div class="input-wrap mb15">
                    <input type="text" name="mail" value="" class="input required" placeholder="E-mail" aria-placeholder="E-mail *">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                <div class="input-wrap mb15">
                    <input type="password" name="password" value="" class="input required" required="required"
                        placeholder="Пароль *">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                <div class="input-wrap mb15">
                    <input type="password" name="password2" value="" class="input required" required="required"
                        placeholder="Повторите пароль *">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                <div class="input-wrap mb15">
                    <input type="text" name="phone" value="" class="input"
                        required="required" placeholder="+7(___)___-__-__*">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                <div class="input-wrap mb15">
                    <input type="text" name="name" value="" class="input"
                        placeholder="ФИО">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                
                <label class="checkbox checkbox-confid checkbox--required mb20">
                    <input class="checkbox-input" type="checkbox" name="">
                    <span class="checkbox-inputcustom icon-check flb-cc"></span>
                    <span class="checkbox-text fz12">Нажимая кнопку «Зарегистрироваться» я соглашаюсь с условиями
                        <a href="">Пользовательского
                            соглашения</a> и даю свое согласие на <a href="">обработку моих персональных
                            данных</a> в соответствии с законом
                        №152-ФЗ «О персональных данных» от 27.07.2006</span>
                </label>
                <button class="btn btn-red btn-submit w100">Зарегистрироваться</button>
            </form>
            <form action="" method="POST" class="header__modal-forgotpassword_form form tab-content ta-c hidden" data-tab="forgotpassword">
                <div class="section__h5 mb15">Восстановить пароль</div>
                <div class="section__psm mb30">Введите адрес электронной почты указанный при регистрации</div>
                <div class="input-wrap mb40">
                    <input type="text" name="mail" value="" class="input required" placeholder="E-mail" aria-placeholder="E-mail *">
                    <div class="error-text">Поля обязательное для заполнения</div>
                </div>
                <button class="btn btn-red btn-submit w100 mb10">Отправить код для восстановления</button>
                <a class="header__modal-btn_forgotpasswordcancel btn btn-grey2 w100">Отменить</a>
            </form>
            <div class="form tab-content ta-c hidden" data-tab="forgotpassword-finish">
                <div class="section__h5 mb15">Ссылка для восстановления отправлена Вам на электронную почту!</div>
                <div class="section__psm mb30"><b>Проверьте свой E-mail адрес</b>, и перейдите по ссылке для ввода нового пароля.</div>
                <a href="main.html" class="btn btn-grey2 w100">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>