<nav class="header__nav">
    <div class="header__nav-ul container flb-csb">
        <a href="" class="is-category" data-category="kuhni">
            <svg class="icon">
                <use xlink:href="#catalog-category1"></use>
            </svg>
            <span>Кухни</span>
        </a>
        <div class="section__vhr-md"></div>
        <a href="" class="is-category" data-category="divany">
            <svg class="icon">
                <use xlink:href="#catalog-category2"></use>
            </svg>
            <span>Диваны</span>
        </a>
        <div class="section__vhr-md"></div>
        <a href="">
            <svg class="icon">
                <use xlink:href="#catalog-category3"></use>
            </svg>
            <span>Спальни</span>
        </a>
        <div class="section__vhr-md"></div>
        <a href="">
            <svg class="icon">
                <use xlink:href="#catalog-category4"></use>
            </svg>
            <span>Гостиные</span>
        </a>
        <div class="section__vhr-md"></div>
        <a href="">
            <svg class="icon">
                <use xlink:href="#catalog-category5"></use>
            </svg>
            <span>Шкафы</span>
        </a>
        <div class="section__vhr-md"></div>
        <a href="">
            <svg class="icon">
                <use xlink:href="#catalog-category6"></use>
            </svg>
            <span>Прихожие</span>
        </a>
        <div class="section__vhr-md"></div>
        <a href="">
            <svg class="icon">
                <use xlink:href="#catalog-category7"></use>
            </svg>
            <span>Детская мебель</span>
        </a>
        <div class="section__vhr-md"></div>
        <a href="">
            <svg class="icon">
                <use xlink:href="#catalog-category8"></use>
            </svg>
            <span>Двери</span>
        </a>
    </div>
    <div class="header__nav-subcategory_container">
        <div class="header__nav-subcategory" data-category="kuhni">
            <div class="container flb-ss">
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Кухонные гарнитуры</a></li>
                    <li><a href="">До 10 000</a></li>
                    <li><a href="">Угловые</a></li>
                    <li><span>Массив</span></li>
                    <li><a href="">Маленькие</a></li>
                    <li><a href="">Пластик</a></li>
                    <li><a href="">Маленькие</a></li>
                    <li><a href="">Пластик</a></li>
                    <li><a href="">Маленькие</a></li>
                    <li><a href="">Пластик</a></li>
                </ul>
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Кухни модульные</a></li>
                    <li><a href="">Пластик</a></li>
                    <li><a href="">Недорогие</a></li>
                    <li><a href="">Классические</a></li>
                    <li><a href="">Современные</a></li>
                    <li><a href="">Массив</a></li>
                    <li><a href="">МДФ</a></li>
                </ul>
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Комплектующие</a></li>
                    <li><a href="">Фурнитура</a></li>
                    <li><a href="">Смесители</a></li>
                    <li><a href="">Столешницы</a></li>
                    <li><a href="">Стеновые панели</a></li>
                    <li><a href="">Вытяжки</a></li>
                    <li><a href="">Мойки и сушки</a></li>
                </ul>
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Кухонные диваны</a></li>
                    <li><a href="">Прямые</a></li>
                    <li><a href="">Угловые</a></li>
                    <li><a href="">Недорогие</a></li>
                    <li><a href="">Со спальным местом</a></li>
                    <li><a href="">С ящиком</a></li>
                </ul>
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Столы и стулья</a></li>
                    <li><a href="">Столы</a></li>
                    <li><a href="">Стулья</a></li>
                    <li><a href="">Недорогие</a></li>
                    <li><a href="">Со спальным местом</a></li>
                    <li><a href="">С ящиком</a></li>
                </ul>
            </div>
        </div>
        <div class="header__nav-subcategory" data-category="divany">
            <div class="container flb-ss">
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Диваны модульные</a></li>
                    <li><a href="">Пластик</a></li>
                    <li><a href="">Недорогие</a></li>
                    <li><a href="">Классические</a></li>
                    <li><a href="">Современные</a></li>
                    <li><a href="">Массив</a></li>
                    <li><a href="">МДФ</a></li>
                </ul>
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Комплектующие</a></li>
                    <li><a href="">Фурнитура</a></li>
                    <li><a href="">Смесители</a></li>
                    <li><a href="">Столешницы</a></li>
                    <li><a href="">Стеновые панели</a></li>
                    <li><a href="">Вытяжки</a></li>
                    <li><a href="">Мойки и сушки</a></li>
                </ul>
                <ul class="catalog__ulcategory">
                    <li class="lititle"><a href="">Кухонные диваны</a></li>
                    <li><a href="">Прямые</a></li>
                    <li><a href="">Угловые</a></li>
                    <li><a href="">Недорогие</a></li>
                    <li><a href="">Со спальным местом</a></li>
                    <li><a href="">С ящиком</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>