<div class="header__modal-storelist header__modal-tabsbody flb-ss hidden" data-nav="shops">
    <div class="w100">
        <div class="flb-csb">
            <div class="section__h5 flb-cc mb20 mr20">Магазины</div>
            <div class="fz-12 mb20 mt5"><a href="" class="link-btn--solid">На страницу «Магазины»</a></div>
        </div>
        <div class="footer__store itemtype-wtbg flb-cs mb20">
            <a href="" class="footer__store-icon icon-link-external"></a>
            <a href="" class="footer__store-logo">
                <img src="img/contacts/moscow-store-icon-red.svg" width="45" height="56" alt="Магазин в Москве">
            </a>
            <div class="footer__store-caption">
                <div class="footer__store-title"><a href="">Магазин в Москве</a></div>
                <div class="flb-ss">
                    <a href="tel:+7 499 490-29-12" class="footer__store-phone">+7 499 490-29-12</a>
                    <div class="footer__store-wtvhr"></div>
                    <div class="footer__store-wt">10:00 - 20:00</div>
                </div>
                <div class="footer__store-hr"></div>
                <div class="footer__store-adress">г. Москва, ул. Хачатуряна, вл. 15Б, 3 этаж</div>
            </div>
            <div class="w100 mt20">
                <div class="section__gallery-row row">
                    <div class="col-4">
                        <a href="img/store/moscow-imgslider.jpg" class="section__img section__gallery-foto">
                            <img src="img/store/moscow-imgslider.jpg" alt="Фото" loading="lazy">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="img/store/moscow-imgslider.jpg" class="section__img section__gallery-foto">
                            <img src="img/store/moscow-imgslider.jpg" alt="Фото" loading="lazy">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="img/store/moscow-imgslider.jpg" class="section__img section__gallery-foto">
                            <img src="img/store/moscow-imgslider.jpg" alt="Фото" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__store itemtype-wtbg flb-cs mb20">
            <a href="" class="footer__store-icon icon-link-external"></a>
            <a href="" class="footer__store-logo">
                <img src="img/contacts/pushkino-store-icon-red.svg" width="45" height="56" alt="Магазин в Пушкино">
            </a>
            <div class="footer__store-caption">
                <div class="footer__store-title"><a href="">Магазин в Пушкин</a></div>
                <div class="flb-ss">
                    <a href="tel:+7 499 490-29-12" class="footer__store-phone">+7 499 490-29-12</a>
                    <div class="footer__store-wtvhr"></div>
                    <div class="footer__store-wt">10:00 - 20:00</div>
                </div>
                <div class="footer__store-hr"></div>
                <div class="footer__store-adress">г. Пушкино, Московский проспект, д. 55</div>
            </div>
            <div class="w100 mt20">
                <div class="section__gallery-row row">
                    <div class="col-4">
                        <a href="img/store/moscow-imgslider.jpg" class="section__img section__gallery-foto">
                            <img src="img/store/moscow-imgslider.jpg" alt="Фото" loading="lazy">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="img/store/moscow-imgslider.jpg" class="section__img section__gallery-foto">
                            <img src="img/store/moscow-imgslider.jpg" alt="Фото" loading="lazy">
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="img/store/moscow-imgslider.jpg" class="section__img section__gallery-foto">
                            <img src="img/store/moscow-imgslider.jpg" alt="Фото" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>