<div class="header__modal-forms header__modal-tabsbody flb-cc hidden" data-nav="addreview">
    <div>
        <form action="" method="POST" enctype="multipart/form-data" class="form tab-content" data-form="standartform">
            <div class="section__h6 fw-700 ta-c mb20">Оставить отзыв на товар</div>
            <div class="flb-cc mb20">
                <img src="img/catalog/product-item1_1.jpg" width="160" alt="altitle" class="section__img">
            </div>
            <div class="section__pmd ta-c op1 mb10">Поставьте оценку товару:</div>
            <div class="rating-input flb-cc mb20">
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="rating-5">
                    <label for="rating-5" class="icon-bx-star"></label>
                    <input type="radio" name="rating" value="4" id="rating-4">
                    <label for="rating-4" class="icon-bx-star"></label>
                    <input type="radio" name="rating" value="3" id="rating-3">
                    <label for="rating-3" class="icon-bx-star"></label>
                    <input type="radio" name="rating" value="2" id="rating-2">
                    <label for="rating-2" class="icon-bx-star"></label>
                    <input type="radio" name="rating" value="1" id="rating-1">
                    <label for="rating-1" class="icon-bx-star"></label>
                </div>
                <div class="flb-cc w100"><div class="error-text">Поля обязательное для заполнения</div></div>
            </div>
            <div class="input-wrap mb15">
                <input type="text" name="name" value="" class="input required" required="required" placeholder="ФИО">
                <div class="error-text">Поля обязательное для заполнения</div>
            </div>
            <div class="input-wrap mb15">
                <input type="text" name="product_advantages" value="" class="input"  placeholder="Достоинства">
            </div>
            <div class="input-wrap mb15">
                <textarea name="product_comments" class="input textarea required" placeholder="Комментарий"></textarea>
                <div class="error-text">Поля обязательное для заполнения</div>
            </div>
            <div class="mb20">
                <div class="attachfile-wrap">
                    <div class="attachfile-list flb-cc mb20">
                        <div class="attachfile-listdoc">
                            <img src="img/catalog/product-item1_1.jpg" width="72" height="48" alt="altitle">
                        </div>
                        <div class="attachfile-listdoc">
                            <img src="img/catalog/product-item1_1.jpg" width="72" height="48" alt="altitle">
                        </div>
                        <div class="attachfile-listdoc">
                            <img src="img/catalog/product-item1_1.jpg" width="72" height="48" alt="altitle">
                        </div>
                        <div class="attachfile-listdoc flb-cc">
                            <div class="attachfile-listdoc_dopcount">+2</div>
                        </div>
                    </div>
                    <div class="flb-cc">
                        <label class="attachfile-uploadbtn flb-cc mb30">
                            <input type="file" value="" name="photo">
                            <img src="img/icona-moon/attachment.svg" width="24" height="24" alt="Прикрепить фотографию" class="icon">
                            <span>Прикрепить фотографию </span>
                        </label>
                    </div>
                </div>
            </div>
            <label class="checkbox checkbox-confid checkbox--required mb20">
                <input class="checkbox-input" type="checkbox" name="">
                <span class="checkbox-inputcustom icon-check flb-cc"></span>
                <span class="checkbox-text fz12">Нажимая кнопку «Оставить отзыв о товаре» я соглашаюсь с условиями
                    <a href="">Пользовательского
                        соглашения</a> и даю свое согласие на <a href="">обработку моих персональных
                        данных</a> в соответствии с законом
                    №152-ФЗ «О персональных данных» от 27.07.2006</span>
            </label>
            <button class="btn btn-red btn-submit w100 mb10">Оставить отзыв о товаре</button>
        </form>
    </div>
</div>