<div class="header__modal-aboutserv header__modal-tabsbody hidden" data-nav="pay-dproduct">
    <div class="section__h5 flb-cs mb20">
        <i class="icon icon-credit-card flb-cc"></i>
        <span>Оплата</span>
    </div>
    <div class="section__psm op1 mb30">Вы можете оплатить товар картой онлайн, наложным платежем или наличными при получении.</div>
    <div class="section__subtitle mb10">Физические лица</div>
    <div class="section__psm op1 mb30">Физические лица оплачивают товар в момент получения либо осуществляют предоплату банковским переводом.</div>
    <div class="section__subtitle mb10">Юридические лица</div>
    <div class="section__psm op1 mb30">Юридические лица осуществляют 100% предоплату товара.</div>
    <div class="section__subtitle mb10">Оплата кредитными картами</div>
    <div class="section__psm op1 mb30">Оплата кредитными картами и с привлечением потребительского кредитования возможна в нашем розничном магазине.</div>
</div>