<div class="header__modal-profiledata header__modal-tabsbody" data-nav="auth">
    <div class="header__modal-profiledata_user flb-csb">
        <div class="profile__page-header_name">
            <small>Пользователь:</small>
            <div class="section__h6 fw-700"><a href="">Ильгова Ирина Алексеевна</a></div>
        </div>
        <img src="img/profile/avatar.jpg" width="60" height="60" alt="Ильгова Ирина" class="profile__page-header_photo">
    </div>
    <div class="header__modal-profiledata_contacts">
        <div class="mb20">
            <div class="section__pxs">Номер телефона:</div>
            <div class="fw-700">8 800 555-32-38</div>
        </div>
        <div class="mb20">
            <div class="section__pxs">E-mail:</div>
            <div class="fw-700">Ilgovairina@yandex.ru</div>
        </div>
        <div class="mb20">
            <div class="section__pxs">Адрес доставки:</div>
            <div class="fw-700">357990, г. Москва, ул. Ленина, 242</div>
        </div>
    </div>
    <div class="header__modal-profiledata_favoritslist mb40">
        <div class="section__h6 flb-cs mb20"><a href="" class="fw-700">Избранные товары</a> <div class="cart__countshtuk ml15">24 шт</div></div>
        <div class="scroll-horizontal flb-ss">
            <a href="" class="catalog__subcatcard flb-cc">
                <div class="catalog__subcatcard-icon flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="60" height="60" alt="Диван Омега 1400">
                </div>
                <div class="catalog__subcatcard-title mt15">
                    <span>Диван Омега 1400</span>
                </div>
            </a>
            <a href="" class="catalog__subcatcard flb-cc">
                <div class="catalog__subcatcard-icon flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="60" height="60" alt="Диван Омега 1400">
                </div>
                <div class="catalog__subcatcard-title mt15">
                    <span>Диван Омега 1400</span>
                </div>
            </a>
            <a href="" class="catalog__subcatcard flb-cc">
                <div class="catalog__subcatcard-icon flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="60" height="60" alt="Диван Омега 1400">
                </div>
                <div class="catalog__subcatcard-title mt15">
                    <span>Диван Омега 1400</span>
                </div>
            </a>
            <a href="" class="catalog__subcatcard flb-cc">
                <div class="catalog__subcatcard-icon flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="60" height="60" alt="Диван Омега 1400">
                </div>
                <div class="catalog__subcatcard-title mt15">
                    <span>Диван Омега 1400</span>
                </div>
            </a>
            <a href="" class="catalog__subcatcard flb-cc">
                <div class="catalog__subcatcard-icon flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="60" height="60" alt="Диван Омега 1400">
                </div>
                <div class="catalog__subcatcard-title mt15">
                    <span>Диван Омега 1400</span>
                </div>
            </a>
            <a href="" class="catalog__subcatcard flb-cc">
                <div class="catalog__subcatcard-icon flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="60" height="60" alt="Диван Омега 1400">
                </div>
                <div class="catalog__subcatcard-title mt15">
                    <span>Диван Омега 1400</span>
                </div>
            </a>
            <a href="" class="catalog__subcatcard flb-cc">
                <div class="catalog__subcatcard-icon flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="60" height="60" alt="Диван Омега 1400">
                </div>
                <div class="catalog__subcatcard-title mt15">
                    <span>Диван Омега 1400</span>
                </div>
            </a>
        </div>
    </div>
    <div class="header__modal-profiledata_footer">
        <div class="section__h6 fw-700 mb40"><a href="">Личные данные</a></div>
        <div class="section__h6 fw-700 mb20"><a href="">История покупок</a></div>
        <div class="header__modal-profiledata_listorders mb60">
            <div class="section__pxs flb-cs mb15">Заказ №250640 <div class="product__item-sticker sticker--new">Новинка</div></div>
            <div class="section__pxs flb-cs mb15">Заказ №250640 <div class="product__item-sticker sticker--fiolet">Собираем</div></div>
            <div class="section__pxs flb-cs mb15">Заказ №250640 <div class="product__item-sticker sticker--canceled">Отменен</div></div>
        </div>
        <div class="header__modal-profiledata_logout mb60"><a href="">Выйти из аккаунта</a></div>
    </div>
</div>