<div class="header__modal-cart header__modal-tabsbody flb-ss hidden" data-nav="newkit-step1-dproduct">
    <div class="header__modal-cart_mobscroll w100">
        <div class="section__h5 flb-cs mb20">Создать свой набор</div>
        <div class="section__h6 fw-700 mb30">1. Выбор цвета и материала</div>
        <div class="section__subtitle mb25">Категории</div>
        <div class="tab-btn__wrapper flb-ss mb30" data-tabs="newkit-selectcolor">
            <button class="catalog__radiotab tab-btn tab-active mr10">
                <div class="catalog__radiotab-number">I</div>
                <div class="catalog__radiotab-title"><span>I категория</span></div>
            </button>
            <button class="catalog__radiotab tab-btn mr10">
                <div class="catalog__radiotab-number">II</div>
                <div class="catalog__radiotab-title"><span>II категория</span></div>
            </button>
            <button class="catalog__radiotab tab-btn mr10">
                <div class="catalog__radiotab-number">III</div>
                <div class="catalog__radiotab-title"><span>III категория</span></div>
            </button>
        </div>
        <div class="tabs-content__wrap" data-tabs="newkit-selectcolor">
            <div class="tab-content">
                <div class="flb-csb mb15">
                    <div class="section__subtitle flb-cs mb10 mr20">1-я категория обивки <div class="cart__countshtuk ml10">36 шт</div></div>
                    <div class="section__psm op1 mb10">6 360 ₽</div>
                </div>
                <div class="row mb60">
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img1.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Oslo Azure (велюр)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img2.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Polo Perlamutr Cream (иск. кожа)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img3.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Ридли 06 (жаккард)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img4.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Polo Perlamutr Cream (иск. кожа)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="tab-content hidden">
                <div class="flb-csb mb10">
                    <div class="section__subtitle flb-cs mb10 mr20">2-я категория обивки <div class="cart__countshtuk ml10">16 шт</div></div>
                    <div class="section__psm op1 mb10">9 720 ₽</div>
                </div>
                <div class="row mb60">
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img1.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Oslo Azure (велюр)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img2.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Polo Perlamutr Cream (иск. кожа)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img3.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Ридли 06 (жаккард)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img4.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Polo Perlamutr Cream (иск. кожа)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img3.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Ридли 06 (жаккард)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img4.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Polo Perlamutr Cream (иск. кожа)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="tab-content hidden">
                <div class="flb-csb mb10">
                    <div class="section__subtitle flb-cs mb10 mr20">3-я категория обивки <div class="cart__countshtuk ml10">12 шт</div></div>
                    <div class="section__psm op1 mb10">12 540 ₽</div>
                </div>
                <div class="row mb60">
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img1.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Oslo Azure (велюр)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="product__colorcard type--selectcard">
                            <div class="product__colorcard-img"><img src="img/catalog/colortextture-img2.jpg" alt="alt"></div>
                            <div class="product__colorcard-caption flb-cs">
                                <div>
                                    <div class="product__colorcard-category">Элегия</div>
                                    <div class="product__colorcard-title">
                                        <span>Polo Perlamutr Cream (иск. кожа)</span>
                                    </div>
                                </div>
                                <div class="checkbox-inputcustom icon-check flb-cc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__modal-cart_footer flb-csb">
        <button class="btn btn-red w100 show-hmodals" data-nav="newkit-step2-dproduct">Подтвердить и перейти к выбору модулей</button>
    </div>
</div>
<div class="header__modal-cart header__modal-tabsbody flb-ss hidden" data-nav="newkit-step2-dproduct">
    <div class="header__modal-cart_mobscroll w100">
        <div class="section__h5 flb-cs mb25">Создать свой набор</div>
        <button class="btn btn-dark-invr h40 btn--r122 show-hmodals mb15 mr20" data-nav="newkit-step1-dproduct">
            <i class="icon-angle-left"></i>
            <span>Назад</span>
        </button>
        <div class="section__h6 fw-700 mb25">2. Выбор модулей</div>
        <div class="section__h6 fw-700 mb20">Шкафы</div>
        <div class="row mb20">
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
        </div>
        <div class="section__h6 fw-700 mb20">Столы</div>
        <div class="row mb20">
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
            <div class="col-sm-6 mb20">
                <!--#include virtual="/components/catalog/product__itemsml3.html" -->
            </div>
        </div>
    </div>
    <div class="header__modal-cart_footer flb-csb">
        <div class="product__item-price">
            <div class="sml oldprice">
                Модулей
            </div>
            <span>120 280 ₽</span>
        </div>
        <div class="product__item-price">
            <div class="sml oldprice">
                На сумму
            </div>
            <span>12 шт.</span>
        </div>
        <button class="btn btn-red">
            <span>Добавить в корзину</span>
            <i class="icon icon-plus-circle"></i>
        </button>
    </div>
</div>