<div class="header__modal-cart header__modal-tabsbody flb-ss hidden" data-nav="showcompect-dproduct">
    <div class="header__modal-cart_mobscroll w100">
        <div class="flb-csb mb20">
            <div class="section__h5 flb-cs mb20 mr20">Состав комплекта <div class="cart__countshtuk ml10">12 шт</div></div>
        </div>
        <div class="mb30">
            <div class='cartproduct__item itemtype--hdrmdl flb-csb mb20'>
                <div class="cartproduct__item-stickerwrap flb-ss">
                    <div class="product__item-sticker sticker--sale">Скидка 50% </div>
                </div>
                <a href="" class="cartproduct__item-img flb-cc">
                    <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90" alt="Кухня Классика Софт Крем ">
                </a>
                <div class="cartproduct__item-caption">
                    <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
                    <div class="flb-cs mt5">
                        <div class="cartproduct__item-pricegray mr5">24 360 ₽</div>
                        <div class="cartproduct__item-pricegray type-greyoval">24 360 ₽ за шт.</div>
                    </div>
                </div>
                <div class="cartproduct__item-rblock_props props--solo">
                    <div class="section__pxs">Кол-во:</div>
                    <div class="section__pmd fw-700">2 шт.</div>
                </div>
                <div class="cartproduct__item-propslist flb-cs w100">
                    <div class="cartproduct__item-props">Артикул: <b>2131246</b></div>
                    <div class="cartproduct__item-props">Цвет: <b>Синий</b></div>
                    <div class="cartproduct__item-props">Обивка: <b>Ткань</b></div>
                </div>
            </div>
            <div class="section__h6 fw-700 mb20">Шкафы</div>
            <div class="row mb20">
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
            </div>
            <div class="section__h6 fw-700 mb20">Столы</div>
            <div class="row mb20">
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
                <div class="col-6 mb20">
                    <!--#include virtual="/components/catalog/product__itemsml2.html" -->
                </div>
            </div>
        </div>
    </div>
    <div class="header__modal-cart_footer flb-csb">
        <div class="product__item-price">
            <div class="sml oldprice">
                Модулей
            </div>
            <span>120 280 ₽</span>
        </div>
        <div class="product__item-price">
            <div class="sml oldprice">
                На сумму
            </div>
            <span>12 шт.</span>
        </div>
        <a href="" class="btn btn-red">
            <span>Оформить заказ</span>
            <i class="icon icon-plus-circle"></i>
        </a>
    </div>
</div>