<div class="header">
    <!--#include virtual="/components/header/header__top--typeprofile.html" -->
    <!--#include virtual="/components/header/header__nav.html" -->
    <!--#include virtual="/components/header/header__search.html" -->
    <!--#include virtual="/components/header/header__catalog.html" -->
</div>
<div class="header__modal">
    <div class="header__modal-navigation flb-csb">
        <div class="header__contacts">
            <div class="header__contacts-phone"><a href="tel:+78005553238">8 800 555-32-38</a></div>
            <div class="header__contacts-smphone"><a href="tel:84951500410">8 495 150-04-10</a></div>
        </div>
        <div class="header__navmodals flb-ss">
            <button class="header__navmodals-btn flb-cc" data-nav="shops">
                <i class="icon-location-100store"></i>
                <span>Магазины</span>
            </button>
            <button class="header__navmodals-btn is-active flb-cc" data-nav="auth">
                <i class="icon-profile-circle"></i>
                <span>Аккаунт</span>
            </button>
            <button class="header__navmodals-btn flb-cc" data-nav="cart">
                <i class="icon-shopping-bag"></i>
                <span>Корзина</span>
            </button>
        </div>
        <button class="header__modal-close flb-cc icon-close"></button> 
    </div>
    <!--#include virtual="/components/header/header__modal-storelist.html" -->
    <!--#include virtual="/components/header/header__modal-profileforms_islogin.html" -->
    <!--#include virtual="/components/header/header__modal-cart.html" -->
</div>
<div class="header__menumobile"></div>
<!--#include virtual="/components/header/header__navmobile.html" -->
<div class="header__overlay"></div>
<div class="header__overlay2"></div>
<div class="header__overlay3"></div>