<div class="header__search header__search--original">
    <form action="" class="header__search-form">
        <div class="container">
            <input type="text" value="" placeholder="Поиск">
            <button class="icon-search flb-cc"></button>
            <a class="header__search-form_close icon-close flb-cc"></a>
        </div>
    </form>
    <div class="header__search-result">
        <div class="container">
            <div class="catalog__tagsblock-listbtn flb-cs scrolly-hidden">
                <a href="" class="catalog__tagsbtn btn btn-grey">Кухни модульные</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Пластик</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Недорогие</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Классические</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Современные</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">Массив</a>
                <a href="" class="catalog__tagsbtn btn btn-grey">МДФ</a>
            </div>
            <div>
                <!--#include virtual="/components/catalog/cartproduct__item_hsr_bcomplect.html" -->
                <!--#include virtual="/components/catalog/cartproduct__item_hsr_new.html" -->
                <!--#include virtual="/components/catalog/cartproduct__item_hsr_new.html" -->
                <!--#include virtual="/components/catalog/cartproduct__item_hsr_new.html" -->
                <!--#include virtual="/components/catalog/cartproduct__item_hsr_bcomplect.html" -->
                <!--#include virtual="/components/catalog/cartproduct__item_hsr_new.html" -->
            </div>
        </div>

    </div>
</div>