<div class="header__modal-forms header__modal-tabsbody flb-cc hidden" data-nav="orderdesinger-dproduct">
    <div>
        <form action="" method="POST" class="form tab-content" data-form="standartform">
            <div class="section__h5 ta-c mb15">Заказать дизайн-проект</div>
            <div class="section__psm ta-c op1 mb20">Оставьте свои контактные данные и мы свяжемся с вами в самое ближайшее время</div>
            <div class="input-wrap mb15">
                <input type="text" name="name" value="" class="input required" required="required" placeholder="ФИО">
                <div class="error-text">Поля обязательное для заполнения</div>
            </div>
            <div class="input-wrap mb15">
                <input type="text" name="mail" value="" class="input required" required="required" placeholder="E-mail*">
                <div class="error-text">Поля обязательное для заполнения</div>
            </div>
            <div class="input-wrap mb15">
                <input type="text" name="phone" value="" class="input required phone-mask"
                    required="required" placeholder="+7(___)___-__-__*">
                <div class="error-text">Поля обязательное для заполнения</div>
            </div>
            <div class="input-wrap mb20">
                <textarea name="comments" class="input textarea" placeholder="Комментарий"></textarea>
            </div>
            <label class="checkbox checkbox-confid checkbox--required mb20">
                <input class="checkbox-input" type="checkbox" name="">
                <span class="checkbox-inputcustom icon-check flb-cc"></span>
                <span class="checkbox-text fz12">Нажимая кнопку «Заказать дизайн-проект» я соглашаюсь с условиями
                    <a href="">Пользовательского
                        соглашения</a> и даю свое согласие на <a href="">обработку моих персональных
                        данных</a> в соответствии с законом
                    №152-ФЗ «О персональных данных» от 27.07.2006</span>
            </label>
            <button class="btn btn-red btn-submit w100 mb10">Заказать дизайн-проект</button>
        </form>
    </div>
</div>