<div class="header__modal-aboutserv header__modal-tabsbody hidden" data-nav="exdelivery-dproduct">
    <div class="section__h5 flb-cs mb20">
        <i class="icon icon-express-delivery flb-cc"></i>
        <span>Доставка</span>
    </div>
    <div class="section__psm op1 mb30"><b>От 350 ₽</b> / Быстрая доставка своим транспортом по Москве или транспортными компаниями в регионы.</div>
    <div class="section__subtitle mb10">Доставка за МКАД</div>
    <ul class="section__ul mb30">
        <li>+ 30 руб/км - к стоимости доставки </li>
        <li>Доставка за МКАД осуществляется по вторникам, средам и четвергам
        </li>
        <li>Доставка за пределы Московского Малого кольца (30-35 км от МКАД) осуществляется по предоплате</li>
    </ul>
    <div class="section__subtitle mb10">Доставка по России</div>
    <ul class="section__ul mb30">
        <li>+ 30 руб/км - к стоимости доставки</li>
        <li>Доставка за МКАД осуществляется по вторникам, средам и четвергам
        </li>
        <li>Доставка за пределы Московского Малого кольца (30-35 км от МКАД) осуществляется по предоплате</li>
    </ul>
    <div class="section__subtitle mb10">Самовывоз (бесплатно)</div>
    <ul class="section__ul mb30">
        <li>Товар можно получить на нашем складе в г. Пушкино после согласования с консультантом.</li>
    </ul>
</div>