<div class="footer__store-section hide-mobile">
    <div class="container flb-csb">
        <div class="footer__store flb-cs">
            <a href="" class="footer__store-icon icon-link-external"></a>
            <a href="" class="footer__store-logo">
                <img src="img/contacts/moscow-store-icon-wt.svg" width="45" height="56" alt="Магазин в Москве">
                <img src="img/contacts/moscow-store-icon-red.svg" width="45" height="56" alt="Магазин в Москве">
            </a>
            <div class="footer__store-caption">
                <div class="footer__store-title"><a href="">Магазин в Москве</a></div>
                <div class="flb-ss">
                    <a href="tel:+7 499 490-29-12" class="footer__store-phone">+7 499 490-29-12</a>
                    <div class="footer__store-wtvhr"></div>
                    <div class="footer__store-wt">10:00 - 20:00</div>
                </div>
                <div class="footer__store-hr"></div>
                <div class="footer__store-adress">г. Москва, ул. Хачатуряна, вл. 15Б, 3 этаж</div>
            </div>
        </div>
        <div class="footer__store flb-cs">
            <a href="" class="footer__store-icon icon-link-external"></a>
            <a href="" class="footer__store-logo">
                <img src="img/contacts/pushkino-store-icon-wt.svg" width="45" height="56" alt="Магазин в Пушкино">
                <img src="img/contacts/pushkino-store-icon-red.svg" width="45" height="56" alt="Магазин в Пушкино">
            </a>
            <div class="footer__store-caption">
                <div class="footer__store-title"><a href="">Магазин в Пушкин</a></div>
                <div class="flb-ss">
                    <a href="tel:+7 499 490-29-12" class="footer__store-phone">+7 499 490-29-12</a>
                    <div class="footer__store-wtvhr"></div>
                    <div class="footer__store-wt">10:00 - 20:00</div>
                </div>
                <div class="footer__store-hr"></div>
                <div class="footer__store-adress">г. Пушкино, Московский проспект, д. 55</div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container flb-sb">
        <nav class="footer__navcatalog">
            <ul class="footer__navcatalog-ul">
                <li>
                    <a href="">
                        <svg class="icon"><use xlink:href="#catalog-category1"></use></svg>
                        <span>Кухни</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="icon"><use xlink:href="#catalog-category2"></use></svg>
                        <span>Диваны</span>
                    </a>
                </li>
                <li>
                    <span>
                        <svg class="icon"><use xlink:href="#catalog-category3"></use></svg>
                        <span>Спальни</span>
                    </span>
                </li>
                <li>
                    <a href="">
                        <svg class="icon"><use xlink:href="#catalog-category4"></use></svg>
                        <span>Гостиные</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="icon"><use xlink:href="#catalog-category5"></use></svg>
                        <span>Шкафы</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="icon"><use xlink:href="#catalog-category6"></use></svg>
                        <span>Прихожие</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="icon"><use xlink:href="#catalog-category7"></use></svg>
                        <span>Детская мебель</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="icon"><use xlink:href="#catalog-category8"></use></svg>
                        <span>Двери</span>
                    </a>
                </li>
            </ul>
            <a href="" class="footer__navcatalog-btn btn btn-wt-op1">
                <span>Весь каталог</span>
                <i class="icon icon-enter-left"></i>
            </a>
        </nav>
        <div class="footer__menu flb-sb">
            <div class="footer__menu-col">
                <ul class="catalog__ulcategory ul--white">
                    <li class="lititle"><a href="">О компании</a></li>
                    <li><a href="">Контактная информация</a></li>
                    <li><a href="">Реквизиты продавца</a></li>
                </ul>
                <ul class="catalog__ulcategory ul--white">
                    <li class="lititle"><a href="">Услуги</a></li>
                    <li><a href="">Разработка дизайн-проекта</a></li>
                    <li><span>Производство на заказ</a></span>
                    <li><a href="">Вызов замерщика</a></li>
                    <li><a href="">Доставка и установка</a></li>
                    <li><a href="">Сборка мебели</a></li>
                </ul>
            </div>
            <div class="footer__menu-col">
                <ul class="catalog__ulcategory ul--white">
                    <li class="lititle"><a href="">Для покупателей</a></li>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Производство на заказ</a></apan>
                    <li><a href="">Отдел рекламаций</a></li>
                    <li><a href="">Как купить?</a></li>
                    <li><a href="">Акции и скидки</a></li>
                </ul>
                <ul class="catalog__ulcategory ul--white">
                    <li class="lititle"><a href="">Статьи</a></li>
                    <li class="lititle"><a href="">Личный кабинет</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__contacts">
            <div class="footer__contacts-block mb40">
                <div class="footer__contacts-phone mb10"><a href="tel:+74951500410">+7 495 150-04-10</a></div>
                <button class="contacts__linkbackcall show-popup" data-popup="popupbackcall" data-title="Заказать обратный звонок">Обратный звонок</button>
            </div>
            <div class="footer__contacts-unionstore show-mobile mb40">
                <div class="footer__store flb-cs">
                    <a href="" class="footer__store-logo">
                        <img src="img/contacts/moscow-store-icon-wt.svg" width="45" height="56" alt="Магазин в Москве">
                        <img src="img/contacts/moscow-store-icon-red.svg" width="45" height="56" alt="Магазин в Пушкино">
                    </a>
                    <div class="footer__store-caption">
                        <div class="footer__store-title"><a href="">Магазин в Москве</a></div>
                        <div class="flb-ss">
                            <a href="tel:+7 499 490-29-12" class="footer__store-phone">+7 499 490-29-12</a>
                            <div class="footer__store-wtvhr"></div>
                            <div class="footer__store-wt">10:00 - 20:00</div>
                        </div>
                    </div>
                </div>
                <div class="footer__store flb-cs">
                    <a href="" class="footer__store-logo">
                        <img src="img/contacts/pushkino-store-icon-wt.svg" width="45" height="56" alt="Магазин в Пушкино">
                        <img src="img/contacts/pushkino-store-icon-red.svg" width="45" height="56" alt="Магазин в Пушкино">
                    </a>
                    <div class="footer__store-caption">
                        <div class="footer__store-title"><a href="">Магазин в Пушкин</a></div>
                        <div class="flb-ss">
                            <a href="tel:+7 499 490-29-12" class="footer__store-phone">+7 499 490-29-12</a>
                            <div class="footer__store-wtvhr"></div>
                            <div class="footer__store-wt">10:00 - 20:00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__contacts-block mb40">
                <div class="footer__contacts-sml mb20">Подписаться на рассылку</div>
                <form method="post" action="" class="footer__contacts-newsletterform flb-sb">
                    <input type="email" name="email" value="" placeholder="E-mail" required class="input input--op1wt">
                    <button class="btn  icon-plus-circle"></button>
                </form>
            </div>
            <div class="footer__contacts-block">
                <div class="footer__contacts-sml mb20">Мессенджеры и социальные сети</div>
                <div class="contacts__social flb-cs">
                    <a href="" target="_blank" class="flb-cc icon-telegram"></a>
                    <div class="contacts__social-sepator"></div>
                    <a href="" target="_blank" class="flb-cc icon-vk"></a>
                    <a href="" target="_blank" class="flb-cc icon-odnoklassniki"></a>
                    <a href="" target="_blank" class="flb-cc icon-facebook"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer__bottom">
    <div class="container flb-csb">
        <div class="footer__bottom-info">
            <div class="footer__bottom-title">© 2010-2023 Интернет-магазин мебели 100fabrik.ru</div>
            <div class="footer__bottom-oferta">Информация, размещенная на сайте, не является публичной офертой.</div>
        </div>
        <ul class="footer__bottom-ul">
            <li><a href="">Пользовательское соглашение</a></li>
            <li><a href="">Карта сайта</a></li>
        </ul>
    </div>
</div>
<!--#include virtual="/components/footer/modals.html" -->
<!--#include virtual="/components/footer/footer-icons-svg.html" -->
