<div class="news__item">
    <a class="news__item-img">
        <img src="img/news/item-img1.jpg" alt="Дизайн интерьеров балконов и лоджий: идеи оформления внутри и 50+ фото">
    </a>
    <div class="news__item-title">
        <a href="">Дизайн интерьеров балконов и лоджий: идеи оформления внутри и 50+ фото</a>
    </div>
    <div class="news__item-descr">
        Опыт более 5 лет поставок позволяет нам с уверенностью браться за задачи любой сложности по основным направлениям 
    </div>
    <div class="news__item-date">28.02.2023</div>
</div>