<div class="stock__slider slickslider--stnav">
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h3"><a href="" class="wt-color">Скидки 50%</a></div>
            <div class="section__pmd">На мебель прошлогодней коллекции</div>
            <a href="" class="btn btn-wt w200">
                <span>Посмотреть</span>
                <i class="icon icon-enter-left"></i>
            </a>
        </div>
    </div>
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h3"><a href="" class="wt-color">Скидки 50%</a></div>
            <div class="section__pmd">На мебель прошлогодней коллекции</div>
        </div>
    </div>
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h3"><a href="" class="wt-color">Скидки 50%</a></div>
            <a href="" class="btn btn-wt w200">
                <span>Посмотреть</span>
                <i class="icon icon-enter-left"></i>
            </a>
        </div>
    </div>
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h3"><a href="" class="wt-color">Скидки 50%</a></div>
            <div class="section__pmd">На мебель прошлогодней коллекции</div>
            <a href="" class="btn btn-wt w200">
                <span>Посмотреть</span>
                <i class="icon icon-enter-left"></i>
            </a>
        </div>
    </div>
</div>