<div class="stock__slider slickslider--stnav">
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h4 mb10"><a href="" class="wt-color">Скидки 50%</a></div>
            <div class="section__pmd">На мебель прошлогодней коллекции</div>
        </div>
    </div>
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h4 mb10"><a href="" class="wt-color">Скидки 50%</a></div>
            <div class="section__pmd">На мебель прошлогодней коллекции</div>
        </div>
    </div>
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h4 mb10"><a href="" class="wt-color">Скидки 50%</a></div>
        </div>
    </div>
    <div class="stock__slider-item flb-cs">
        <div class="stock__slider-item_img"><img src="img/stock/slider-img.jpg" alt="Скидки 50% - На мебель прошлогодней коллекции"></div>
        <div class="stock__slider-item_info">
            <div class="section__h4 mb10"><a href="" class="wt-color">Скидки 50%</a></div>
            <div class="section__pmd">На мебель прошлогодней коллекции</div>
        </div>
    </div>
</div>