<div class='cartproduct__complect <!--#echo var="cartproduct__item-dopclass" -->'>
    <div class='cartproduct__item flb-csb'>
        <a href="" class="cartproduct__item-img flb-cc">
            <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90" alt="Кухня Классика Софт Крем ">
        </a>
        <div class="cartproduct__item-caption">
            <div class="cartproduct__item-title"><a href="">Кухня Классика Софт Крем </a></div>
            <div class="flb-cs mt5">
                <div class="section__pxs mr10">Арт. 254680 </div>
                <div class="product__item-sticker sticker--new">Новинка</div>
            </div>
        </div>
        <div class="cartproduct__item-rblock flb-csb">
            <div class="cartproduct__item-price cartproduct__item-rblock_props">
                <div class="section__pxs">За 1 шт.: </div>
                <div class="section__pmd fw-700">64 000 ₽</div>
            </div>
            <div class="cartproduct__item-counter counter flb-csb">
                <button class="counter-minus counter-btn icon-minus"></button>
                <input class="counter-value" value="3">
                <button class="counter-plus counter-btn icon-plus"></button>
            </div>
            <div class="cartproduct__item-pricetotal cartproduct__item-rblock_props">
                <div class="section__pxs">Итого:</div>
                <div class="section__pmd fw-700">196 000 ₽</div>
            </div>
            <button class="cartproduct__item-remove flb-cc icon-trash"></button>
        </div> 
        <div class="cartproduct__item-propslist flb-cs w100">
            <div class="cartproduct__item-props">Цвет: <b>Синий</b></div>
            <div class="cartproduct__item-props">Обивка: <b>Ткань</b></div>
        </div>
    </div>
    <div class="cartproduct__complect-listproduct">
        <div class="cartproduct__item itemtype--order flb-csb">
            <a href="" class="cartproduct__item-img flb-cc">
                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                    alt="Угловой диван Виктория 2-1 комфорт компакт">
            </a>
            <div class="cartproduct__item-caption">
                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                        компакт</a></div>
                <div class="section__pxs mt5">Арт. 254680 </div>
            </div>
            <div class="cartproduct__item-rblock flb-csb">
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость за 1 шт.</div>
                    <div class="section__pmd fw-700">3 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость</div>
                    <div class="section__pmd fw-700">6 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Кол-во:</div>
                    <div class="section__pmd fw-700">2 шт.</div>
                </div>
            </div>
        </div>
        <div class="cartproduct__item itemtype--order flb-csb">
            <a href="" class="cartproduct__item-img flb-cc">
                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                    alt="Угловой диван Виктория 2-1 комфорт компакт">
            </a>
            <div class="cartproduct__item-caption">
                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                        компакт</a></div>
                <div class="section__pxs mt5">Арт. 254680 </div>
            </div>
            <div class="cartproduct__item-rblock flb-csb">
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость за 1 шт.</div>
                    <div class="section__pmd fw-700">6 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость</div>
                    <div class="section__pmd fw-700">6 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Кол-во:</div>
                    <div class="section__pmd fw-700">5 шт.</div>
                </div>
            </div>
        </div>
        <div class="cartproduct__item itemtype--order flb-csb">
            <a href="" class="cartproduct__item-img flb-cc">
                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                    alt="Угловой диван Виктория 2-1 комфорт компакт">
            </a>
            <div class="cartproduct__item-caption">
                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                        компакт</a></div>
                <div class="section__pxs mt5">Арт. 254680 </div>
            </div>
            <div class="cartproduct__item-rblock flb-csb">
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость за 1 шт.</div>
                    <div class="section__pmd fw-700">3 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость</div>
                    <div class="section__pmd fw-700">6 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Кол-во:</div>
                    <div class="section__pmd fw-700">2 шт.</div>
                </div>
            </div>
        </div>
        <div class="cartproduct__item itemtype--order flb-csb">
            <a href="" class="cartproduct__item-img flb-cc">
                <img src="img/catalog/cartproduct-item1.jpg" width="100" height="90"
                    alt="Угловой диван Виктория 2-1 комфорт компакт">
            </a>
            <div class="cartproduct__item-caption">
                <div class="cartproduct__item-title"><a href="">Угловой диван Виктория 2-1 комфорт
                        компакт</a></div>
                <div class="section__pxs mt5">Арт. 254680 </div>
            </div>
            <div class="cartproduct__item-rblock flb-csb">
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость за 1 шт.</div>
                    <div class="section__pmd fw-700">6 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Стоимость</div>
                    <div class="section__pmd fw-700">6 360 ₽</div>
                </div>
                <div class="cartproduct__item-rblock_props">
                    <div class="section__pxs">Кол-во:</div>
                    <div class="section__pmd fw-700">5 шт.</div>
                </div>
            </div>
        </div>
    </div>
    <button class="cartproduct__complect-showlistproduct">
        <span><span class="_toggletitle">Показать модули</span> (4 шт.)</span>
        <i class="icon-angle-down"></i>
    </button>
</div>