<div class="catalog__sgroup container mb100-80-80">
    <div class="mb20 show-md">
        <!--#include virtual="/components/info/stock__slider.html" -->
    </div>
    <div class="catalog__sgroup-rowslider row mb-m20 slickslider--navbottom">
        <div class="col-xl-6 col-lg-8 mb20 hide-md">
            <!--#include virtual="/components/info/stock__slider.html" -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb20">
            <!--#include virtual="/components/catalog/product__item.html" -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb20">
            <!--#include virtual="/components/catalog/product__item2.html" -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb20">
            <!--#include virtual="/components/catalog/product__item.html" -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb20">
            <!--#include virtual="/components/catalog/product__item2.html" -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb20">
            <!--#include virtual="/components/catalog/product__item.html" -->
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb20 flb-cc hide-md">
            <a href="" class="catalog__sgroup-showallbtn flb-cc">
                <i class="btn icon-close"></i>
                <span>Перейти в раздел</span>
            </a>    
        </div>
    </div>
</div>