<div class="catalog__catcard-slider slickslider--navbottom">
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon1.svg" width="60" height="60" alt="Кухни"></a>
            <div class="catalog__catcard-title"><a href="">Кухни</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Кухонные гарнитуры</a> 
            <a href="" class="catalog__btnlink">Кухонные диваны</a> 
            <a href="" class="catalog__btnlink">Кресла</a> 
            <a href="" class="catalog__btnlink">Модульные</a> 
            <a href="" class="catalog__btnlink">Кухонные диваны</a> 
            <button class="catalog__btnlinkmore">Все категории</button>
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>12 400 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover1.jpg" alt="Кухни" class="catalog__catcard-img">
    </div>
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon2.svg" width="60" height="60" alt="Диваны"></a>
            <div class="catalog__catcard-title"><a href="">Диваны</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Кухонные гарнитуры</a> 
            <a href="" class="catalog__btnlink">Кухонные диваны</a> 
            <a href="" class="catalog__btnlink">Кресла</a> 
            <a href="" class="catalog__btnlink">Модульные</a> 
            <a href="" class="catalog__btnlink">Кухонные диваны</a>
            <button class="catalog__btnlinkmore">Все категории</button> 
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>5 600 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover2.jpg" alt="Диваны" class="catalog__catcard-img">
    </div>
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon3.svg" width="60" height="60" alt="Спальни"></a>
            <div class="catalog__catcard-title"><a href="">Спальни</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Спальни</a> 
            <a href="" class="catalog__btnlink">Матрасы</a> 
            <a href="" class="catalog__btnlink">Кровати</a> 
            <a href="" class="catalog__btnlink">Комоды</a> 
            <a href="" class="catalog__btnlink">Зеркала</a> 
            <a href="" class="catalog__btnlink">Раскладушки</a> 
            <a href="" class="catalog__btnlink">Туалетные столики</a>
            <button class="catalog__btnlinkmore">Все категории</button> 
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>10 300 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover3.jpg" alt="Спальни" class="catalog__catcard-img">
    </div>
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon4.svg" width="60" height="60" alt="Гостиные"></a>
            <div class="catalog__catcard-title"><a href="">Гостиные</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Стенки модульные</a> 
            <a href="" class="catalog__btnlink">Стенки для гостиной</a> 
            <a href="" class="catalog__btnlink">Журнальные столы</a> 
            <a href="" class="catalog__btnlink">Сервировочные столы</a> 
            <a href="" class="catalog__btnlink">Тумбы под ТВ</a>
            <button class="catalog__btnlinkmore">Все категории</button> 
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>14 800 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover4.jpg" alt="Гостиные" class="catalog__catcard-img">
    </div>
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon5.svg" width="60" height="60" alt="Прихожие"></a>
            <div class="catalog__catcard-title"><a href="">Прихожие</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Модульные</a> 
            <a href="" class="catalog__btnlink">Тумбы для обуви</a> 
            <a href="" class="catalog__btnlink">Вешалки</a> 
            <a href="" class="catalog__btnlink">Комплекты</a> 
            <a href="" class="catalog__btnlink">Полки под телефон</a>
            <button class="catalog__btnlinkmore">Все категории</button>  
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>13 200 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover5.jpg" alt="Прихожие" class="catalog__catcard-img">
    </div>
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon6.svg" width="60" height="60" alt="Шкафы"></a>
            <div class="catalog__catcard-title"><a href="">Шкафы</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Шкафы-купе</a> 
            <a href="" class="catalog__btnlink">Распашные</a> 
            <a href="" class="catalog__btnlink">Книжные</a> 
            <a href="" class="catalog__btnlink">Угловые</a> 
            <a href="" class="catalog__btnlink">Двухдверные</a> 
            <a href="" class="catalog__btnlink">Стеклянные</a>
            <button class="catalog__btnlinkmore">Все категории</button> 
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>11 700 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover6.jpg" alt="Шкафы" class="catalog__catcard-img">
    </div>
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon7.svg" width="60" height="60" alt="Детская мебель"></a>
            <div class="catalog__catcard-title"><a href="">Детская мебель</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Модульная</a> 
            <a href="" class="catalog__btnlink">Комплекты</a> 
            <a href="" class="catalog__btnlink">Диваны</a> 
            <a href="" class="catalog__btnlink">Столы и стулья</a> 
            <a href="" class="catalog__btnlink">Комоды</a> 
            <a href="" class="catalog__btnlink">Двухъярусные кровати</a>
            <button class="catalog__btnlinkmore">Все категории</button> 
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>18 700 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover7.jpg" alt="Детская мебель" class="catalog__catcard-img">
    </div>
    <div class="catalog__catcard">
        <div class="catalog__catcard-header">
            <a href="" class="catalog__card-icon"><img src="img/catalog/category-color-icon8.svg" width="60" height="60" alt="Двери"></a>
            <div class="catalog__catcard-title"><a href="">Двери</a></div>
            <div class="catalog__catcard-count">48 вариантов</div>
        </div>
        <div class="catalog__catcard-listlink flb-ss">
            <a href="" class="catalog__btnlink">Межкомнотные</a> 
            <a href="" class="catalog__btnlink">Эко Шпон</a> 
            <a href="" class="catalog__btnlink">Шпон</a> 
            <a href="" class="catalog__btnlink">Массив</a> 
            <a href="" class="catalog__btnlink">Входные</a> 
            <a href="" class="catalog__btnlink">Фурнитура</a>
            <button class="catalog__btnlinkmore">Все категории</button> 
        </div>
        <div class="catalog__catcard-price">
            <span>Можно купить от:</span>
            <div>8 600 ₽</div>
        </div>
        <img src="img/catalog/category-mobile-cover8.jpg" alt="Двери" class="catalog__catcard-img">
    </div>
</div>