<div class="product__itemslider slickslider--navbottom <!--#echo var="product__itemslider-dopclass" -->">
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
    <!--#include virtual="/components/catalog/product__item.html" -->
    <!--#include virtual="/components/catalog/product__item2.html" -->
</div>