<div class="product__item item--sml">
    <div class="product__item-stickerblock">
        <div class="product__item-sticker sticker--new">Новинка</div>  
        <div class="product__item-sticker sticker--instock">В наличии</div>  
    </div>
    <a href="" class="product__item-imgslider">
        <div class="product__item-imgslider_gallery">
            <img src="img/catalog/product-item1_1.jpg" class="is-show" alt="Кухня Классика (II категория)">
            <img src="img/catalog/product-item1_2.jpg" alt="Кухня Классика (II категория)">
            <img src="img/catalog/product-item1_3.jpg" alt="Кухня Классика (II категория)">
            <img src="img/catalog/product-item1_1.jpg" alt="Кухня Классика (II категория)">
            <img src="img/catalog/product-item1_2.jpg" alt="Кухня Классика (II категория)">
        </div>
         <!--Псевдо-Додсты (Точки) генерятся на беке через цикл - так будет лучше генерить через JS  -->
        <div class="product__item-imgslider_dots">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </a>
    <!--Псевдо-Додсты (Точки) генерятся на беке через цикл - так будет лучше генерить через JS  -->
    <div class="product__item-imgslider_navdots">
        <div class="is-active"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> 
    <div class="product__item-caption">
        <div class="product__item-title">
            <a href="">Кухня Классика (II категория)</a>
        </div>
        <div class="product__item-wrapbtn flb-csb">
            <div class="product__item-price">
                <div class="sml oldprice">
                    Цена: 
                </div>
                <span>56 280 ₽</span>
            </div>
            <button class="btn btn-red product__item-addbtn">
                <i class="icon icon-plus-circle"></i>
            </button>
        </div>
    </div>
</div>