<div class="product__itemslidercol6 slickslider--navbottom <!--#echo var="product__itemslider-dopclass" -->">
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
    <!--#include virtual="/components/catalog/product__itemsml.html" -->
</div>