<div class="product__item">
    <div class="product__item-stickerblock">
        <div class="product__item-sticker sticker--new">Новинка</div>  
    </div>
    <a href="" class="product__item-imgslider">
        <div class="product__item-imgslider_gallery">
            <img src="img/catalog/product-item1_2.jpg" class="is-show" alt="Кухня Классика (II категория)">
        </div>
         <!--Псевдо-Додсты (Точки) генерятся на беке через цикл - так будет лучше генерить через JS  -->
        <div class="product__item-imgslider_dots">
            <div></div>
        </div>
    </a>
    <!--Псевдо-Додсты (Точки) генерятся на беке через цикл - так будет лучше генерить через JS  -->
    <div class="product__item-imgslider_navdots">
        <div class="is-active"></div>
    </div> 
    <div class="product__item-caption">
        <div class="product__item-title">
            <a href="">Кухня Классика (II категория)</a>
        </div>
        <div class="product__item-price">
            <div class="sml oldprice">
                Цена:
            </div>
            <span>56 280 ₽</span>
        </div>
        <div class="product__item-wrapbtn flb-csb">
            <button class="btn btn-red product__item-addbtn">
                <span>В корзину</span>
                <i class="icon icon-plus-circle"></i>
            </button>
            <button class="product__item-favoritebtn btn">
                <i class="icon icon-heart"></i>
                <i class="icon icon-heart-plus"></i>
            </button>
        </div>
    </div>
</div>