<div class="about__section">
    <div class="container">
        <div class="about__section-circledecor hide-md"><img src="img/circledecor.svg" width="800" height="800" alt="circledecor"></div>
        <div class="about__section-row row flb-csb">
            <div class="about__section-content col-xl-5 col-lg-6 mb30">
                <div class="section__h2 mb15">ООО «МедКредо» </div>
                <div class="content mb40">
                    <p>Наша компания ктивно осуществляет деятельность по поставке высокотехнологичной медицинской техники и медицинских товаров по территории Российской Федерации.</p>
                    <p>Наша компания ктивно осуществляет деятельность по поставке высокотехнологичной медицинской техники и медицинских товаров по территории Российской Федерации.</p>
                </div>
                <div class="content-btnwrapper flb-sb">
                    <a href="" class="btn btn-blue mb10">Реализованные проекты</a>
                    <a href="" class="btn btn-blue-invr mb10">Лицензии</a>
                </div>
            </div>
            <div class="col-lg-6 mb20">
                <!--#include virtual="/components/company/about__section-slider.html" -->
            </div>   
        </div>
    </div>
</div> 