<div class="company__banner">
    <img src="img/company/bnr-cover1.jpg" alt="Доставка по России" class="company__banner-cover">
    <div class="company__banner-description">
        <div class="company__banner-title section__h3 mb25"><a href="" class="wt-color">Доставка по России</a>
        </div>
        <div class="company__banner-text section__pmd">Быстрая и недорогая доставка по СВАО, Москве и Московской
            области</div>
        <a href="" class="btn btn-wt">
            <span>Подробные условия</span>
            <i class="icon icon-enter-left"></i>
        </a>
    </div>
    <img src="img/company/bnr-img1.png" alt="Доставка по России" class="company__banner-img">
</div>