<div class="company__slider slickslider--stdots <!--#echo var="company__slider-dopclass" -->">
    <div class="company__slider-item">
        <img src='<!--#echo var="company__slider-imgfirst" -->' alt="<!--#echo var="company__slider-altimg" -->">
    </div>
    <div class="company__slider-item">
        <img src="img/company/about-slider.jpg" alt="<!--#echo var="company__slider-altimg" -->">
    </div>
    <div class="company__slider-item">
        <img src="img/company/about-slider2.jpg" alt="<!--#echo var="company__slider-altimg" -->">
    </div>
    <div class="company__slider-item">
        <img src="img/company/about-slider3.jpg" alt="<!--#echo var="company__slider-altimg" -->">
    </div>
    <div class="company__slider-item">
        <img src="img/company/about-slider4.jpg" alt="<!--#echo var="company__slider-altimg" -->">
    </div>
</div>