<div class="reviews__item p2820">
    <div class="reviews__item-header flb-cs">
        <img src="img/reviews/item-img1.jpg" width="64" height="64" alt="Ильгова Наталия"
            class="reviews__item-header_photo">
        <div class="reviews__item-header_caption">
            <div class="reviews__item-name fz24">Ильгова Наталия</div>
            <div class="reviews__item-position">Генеральный директор “Клиника 5А”</div>
        </div>
    </div>
    <div class="reviews__item-title section__h4">«Специалисты Медкредо высокого уровня области
        медицинских технологий и инженерии»</div>
    <div class="reviews__item-text content">Компания активно осуществляет деятельность по поставке
        высокотехнологичной медицинской техники и медицинских товаров по территории Российской
        Федерации.Компания ктивно осуществляет деятельность по поставке высокотехнологичной медицинской
        техники и </div>
</div>